@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1> 
<hr/>

<div class="main-body-grid">
    @{
        if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor"))
        {
            <div class="main-grid-item">
                <div class="card">
                    <h3>Import </h3>
                    <p>
                        You can make imports from Excel or CSV Files in this page.
                    </p>
                    <p>
                        <a asp-controller="ImportReports" asp-action="Index" class="grid-btn">Go to Import Report Page >></a>
                    </p>
                </div>
            </div>
        }
    }
   
    <div class="main-grid-item" >
        <div class="card">
            <h3>Teams </h3>
            <p>
                You can view information about team/s on this page.
            </p>
            <p>
                <a asp-controller="Team" asp-action="Index" class="grid-btn">Go to Team Page >></a>
            </p>
        </div>
    </div>

    <div class="main-grid-item">
        <div class="card">
            <h3>Players </h3>
            <p >
                You can view information about player/s on this page.
            </p>
            <p>
                <a asp-controller="Player" asp-action="Index" class="grid-btn">Go to Player Page >></a>
            </p>
        </div>
    </div>

    <div class="main-grid-item">
        <div class="card">
            <h3>Games </h3>
            <p>
                You can view information about game/s on this page.
            </p>
            <p>
                <a asp-controller="Game" asp-action="Index" class="grid-btn">Go to Game Page >></a>
            </p>
        </div>
    </div>
    @{
        if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor"))
        {
            <div class="main-grid-item">
                <div class="card">
                    <div class="card-front">
                        <h3>Divisions </h3>
                        <p>
                            You can view information about division/s on this page.
                        </p>
                        <p>
                            <a asp-controller="Division" asp-action="Index" class="grid-btn">Go to Division Page >></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="main-grid-item">
                <div class="card">
                    <div class="card-front">
                        <h3>Coaches </h3>
                        <p>
                            You can view information about coach on this page.
                        </p>
                        <p>
                            <a asp-controller="Coach" asp-action="Index" class="grid-btn">Go to Coach Page >></a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    
    
</div>
