@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welland Minor Baseball Association</h1>
    <img src="~/images/WMBA - combine.png" alt="Picture of WMBA logo/ mascot." width="400" height="500"/>
    <hr>
    <h2>About US </h2><br /> 
    <p>This section will have information that client want to put for everyone to view.</p>
</div>
