@{
    ViewData["Title"] = "Home Page";
}
<style>
    .main-body-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        /* box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); */
    }

    .main-grid-item-1 {
        grid-area: 1 / 1 / 4 / 4;
    }

    .main-grid-item-2 {
        grid-area: 1 / 4 / 4 / 7;
    }

    .main-grid-item-3 {
        grid-area: 4 / 3 / 7 / 5;
    }

    .main-grid-item-4 {
        grid-area: 4 / 1 / 7 / 3;
    }

    .main-grid-item-5 {
        grid-area: 4 / 5 / 7 / 7;
    }

    .grid-btn {
        border: none;
        background-color: transparent;
        font-weight: bolder;
        font-size: 15px;
        opacity: 70%;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

        .grid-btn:hover, .grid-btn:focus {
            text-decoration: underline;
            opacity: 100%;
        }
</style>
<h1>Homepage</h1> <hr/>
<div class="main-body-grid">
    <div class="main-grid-item-1">
        <h3 class="grid-item-header">
            Players
        </h3>
        <p class="grid-item-text">
            This page will allow you to see all the registered players with relevant information such as their team, their division,
            and the status of the player arranged in a table of rows and columns as well as the ability to create/register new players, and edit or delete existing ones 
        </p>
      @*   <p class="grid-item-text">
            To create a new player, press the "Create New" button and fill the form out with appropriate data
        </p>
        <p class="grid-item-text">
            To view the details of a player for more information, press the "Details" button found in the last column of the corresponding row the player is in.
            Here you will find additional information such as the player's Member ID, their jersey number as well as their game stats
        </p>
        <p class="grid-item-text">
            To edit an existing player, press the "Edit" button in the last column of the corresponding row the player is in
        </p>
        <p class="grid-item-text">
            To delete an existing player, press the "Delete" button in the last column of the corresponding row the player is in
        </p> *@

        <button class="grid-btn">Go to Page >></button>
    </div>
    <div class="main-grid-item-2">
        <h3 class="grid-item-header">
            Teams
        </h3>
        <p class="grid-item-text">
            This page will allow you to see all the registered teams with relevant information such as their division,
            and the coach in charge of the team arranged in a table of rows and columns as well as the ability to create new teams, and edit or delete existing ones
        </p>
        @* <p class="grid-item-text">
            To create a new team, press the "Create New" button and fill the form out with appropriate data
        </p>
        <p class="grid-item-text">
            To view the details of a team for more information, press the "Details" button found in the last column of the corresponding row the team is in.This page will also display the various players that are in the team along with some nominal information as well as the ability to directly update those players
        </p>
        <p class="grid-item-text">
            To edit an existing team, press the "Edit" button in the last column of the corresponding row the team is in
        </p>
        <p class="grid-item-text">
            To delete an existing team, press the "Delete" button in the last column of the corresponding row the team is in
        </p> *@

        <button class="grid-btn">Go to Page >></button>
    </div>
    <div class="main-grid-item-3">
        <h3 class="grid-item-header">
            Games
        </h3>
        <p class="grid-item-text">
            This page will allow you to see all the games recorded in the system, with relevant information such as their start date, the teams playing, the location of the game, and other relevant information; all arranged in a table of rows and columns, and also will provide you with the ability to create new teams, and edit or delete existing ones
        </p>
       @*  <p class="grid-item-text">
            To create a new game, press the "Create New" button and fill the form out with appropriate data
        </p>
        <p class="grid-item-text">
            To view the details of a game for more information, press the "Details" button found in the last column of the corresponding row the game is in.
        </p>
        <p class="grid-item-text">
            To edit an existing game, press the "Edit" button in the last column of the corresponding row the game is in
        </p>
        <p class="grid-item-text">
            To delete an existing game, press the "Delete" button in the last column of the corresponding row the game is in
        </p> *@

        <button class="grid-btn">Go to Page >></button>
    </div>
    <div class="main-grid-item-4">
        <h3 class="grid-item-header">
            Divisions
        </h3>
        <p class="grid-item-text">
            This page will allow you to see all the divisions in the system. As well as the ability to create new divisions, and edit or delete existing ones
        </p>
    </div>
    <div class="main-grid-item-5">
        <h3 class="grid-item-header">
            Coaches
        </h3>
        <p class="grid-item-text">
            This page will allow you to see all the coaches registered in the system. As well as the ability to create/register new coaches, and edit or delete existing ones
        </p>

        <button class="grid-btn">Go to Page >></button>
    </div>
</div>