################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/WMBA5/.vs/
/WMBA5/WMBA5/bin/
/WMBA5/WMBA5/obj/
/.vs/.vs/v17
