.nav-layout {
    /*navy blue*/
    background-color: #17254c
}

.item-nav {
    font-size: 22px;
    font-weight: bold;
    border: solid 3.5px transparent;
    margin: 5px;
}

    .item-nav:hover {
        text-decoration: underline;
        text-decoration-color: white;
        border-radius: 10px;
        border: solid 3.5px white;
        /*border-color: white;*/
    }

.background-body {
    border-radius: 30px;
    padding: 80px 120px;
    background-color: #EAEAEA;
    margin-top: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #E7E7E7;
    height: 30px;
    width: 100%;
}
