.nav-layout {
    /*navy blue*/
    background-color: #17254c
}

.item-nav {
    font-size: 22px;
    font-weight: bold;
    border: solid 3.5px transparent;
    margin: 5px;
}

    .item-nav:hover {
        text-decoration: underline;
        text-decoration-color: white;
        border-radius: 10px;
        border: solid 3.5px white;
        /*border-color: white;*/
    }

.background-body {
    border-radius: 30px;
    padding: 80px 120px;
    background-color: #EAEAEA;
    margin-top: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #E7E7E7;
    height: 30px;
    width: 100%;
}

/* Custom styles for the popover */
.popover {
    max-width: 450px; /* Adjust width as needed */
    background-color: forestgreen; /* Custom background color */
    color: #fff; /* Custom text color */
    border: 1px solid #fff; /* Border color */
    border-radius: 8px; /* Border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Popover title */
.popover-header {
    background-color: #007bff; /* Custom background color */
    color: #fff; /* Custom text color */
    border-bottom: none; /* No border bottom */
    border-radius: 8px 8px 0 0; /* Rounded corners for top */
    padding: 10px 15px; /* Padding */
}

/* Popover body */
.popover-body {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}