@model IEnumerable<WMBA5.Models.Division>

@{
    ViewData["Title"] = "Download Report";
}

<h1>Download Report</h1>

<form asp-action="DownloadStats">
    <a asp-action="DownloadStats" class="btn btn-sm btn-outline-success"
        role="button" data-bs-toggle="tooltip">
        <strong><small>Download</small></strong>
        </a>
</form>
