@model WMBA5.Models.Stat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="GamesPlayed" class="control-label"></label>
                <input asp-for="GamesPlayed" class="form-control" />
                <span asp-validation-for="GamesPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerAppearance" class="control-label"></label>
                <input asp-for="PlayerAppearance" class="form-control" />
                <span asp-validation-for="PlayerAppearance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hits" class="control-label"></label>
                <input asp-for="Hits" class="form-control" />
                <span asp-validation-for="Hits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunsScored" class="control-label"></label>
                <input asp-for="RunsScored" class="form-control" />
                <span asp-validation-for="RunsScored" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrikeOuts" class="control-label"></label>
                <input asp-for="StrikeOuts" class="form-control" />
                <span asp-validation-for="StrikeOuts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walks" class="control-label"></label>
                <input asp-for="Walks" class="form-control" />
                <span asp-validation-for="Walks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RBI" class="control-label"></label>
                <input asp-for="RBI" class="form-control" />
                <span asp-validation-for="RBI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

