@* Partial view For Player Stats *@
<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="PlayerStat">Stats</h4>
    <div class="card-body">
        @Html.DropDownList("PlayerStatsID", null, htmlAttributes: new { @size = 6, @class = "form-control" })
    </div>
    @* We dont add Create Update Or Delete Cause the stats are recorded in each Game *@
</div>
