<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMBA5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-layout border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/WMBA.png" alt="logo" width="150px" height="75px" style="background-color:white; border-radius:5px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/images/Menu-Icon.png" class="navbar-toggler-icon" />
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor") || User.IsInRole("Trash Pandas 15U Coach") || User.IsInRole("Coach"))
                            {
                                <li class="nav-item item-nav">
                                    <a class="nav-link" style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                            }
                        }
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor"))
                            {
                                <li class="nav-item item-nav">
                                    <a class="nav-link " style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="ImportReports" asp-action="Index">Import</a>
                                </li>
                            }
                        }
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor") || User.IsInRole("Trash Pandas 15U Coach") || User.IsInRole("Coach"))
                            {
                                <li class="nav-item item-nav">
                                    <a class="nav-link" style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="Player" asp-action="Index">Players</a>
                                </li>
                                <li class="nav-item item-nav">
                                    <a class="nav-link " style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                                </li>
                                
                            }
                        }
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor") || User.IsInRole("Trash Pandas 15U Coach") || User.IsInRole("Trash Pandas 15U Scorekeeper") || User.IsInRole("Scorekeeper") || User.IsInRole("Coach"))
                            {
                                <li class="nav-item item-nav">
                                    <a class="nav-link " style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="Game" asp-action="Index">Games</a>
                                </li>
                            }
                        }
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor"))
                            {
                                <li class="nav-item item-nav">
                                    <a class="nav-link " style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="Coach" asp-action="Index">Coaches</a>
                                </li>
                                <li class="nav-item item-nav">
                                    <a class="nav-link " style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="Division" asp-action="Index">Divisions</a>
                                </li>
                            }
                        }
                        @{
                            if (User.IsInRole("Admin"))
                            {  
                                <li class="nav-item item-nav">
                                    <a class="nav-link " style="color:#E7E7E7; padding:10px;" asp-area="" asp-controller="UserRole" asp-action="Index">Maintain User Roles</a>
                                </li>
                            }
                        }
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Rookie Convenor") || User.IsInRole("Intermediate Convenor") || User.IsInRole("Senior Convenor"))
                            {
                                <li class="nav-item item-nav dropdown">
                                    <a class="nav-link dropdown-toggle" style="color:#E7E7E7" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Reports
                                    </a>
                                    <ul class="dropdown-menu text-black" aria-labelledby="navbarDropdown">
                                        @* <li><a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="GameReport">Game Report</a></li> *@
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PlayerStatsView">Player Stats Report</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="DownloadStats">Batting Stats Report</a></li>
                                        @*<li><a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="BattingAnalysisReport">Batting Stats Report</a></li> *@
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PlayerComparisionView">Player Comparision Report</a></li>
                                    </ul>
                                </li>
                            }
                        }
                       


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container background-body-new">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WMBA5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
