@model WMBA5.Models.Stat
<form asp-controller="Stat" asp-action="Edit" id="editStatForm">
    <div class="text-danger validation-summary-errors"><ul id="ErrorList"></ul></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="GamesPlayed" class="control-label"></label>
                <input type="number" asp-for="GamesPlayed" class="form-control">
                <span asp-validation-for="GamesPlayed" class="text-danger"></span>

                <label asp-for="PlayerAppearance" class="control-label"></label>
                <input type="number" asp-for="PlayerAppearance" class="form-control">
                <span asp-validation-for="PlayerAppearance" class="text-danger"></span>

                <label asp-for="Hits" class="control-label"></label>
                <input type="number" asp-for="Hits" class="form-control">
                <span asp-validation-for="Hits" class="text-danger"></span>

                <input type="number" asp-for="RunsScored" class="form-control">
                <label asp-for="RunsScored" class="control-label"></label>
                <span asp-validation-for="RunsScored" class="text-danger"></span>

                <input type="number" asp-for="StrikeOuts" class="form-control">
                <label asp-for="StrikeOuts" class="control-label"></label>
                <span asp-validation-for="StrikeOuts" class="text-danger"></span>

                <input type="number" asp-for="Walks" class="form-control">
                <label asp-for="Walks" class="control-label"></label>
                <span asp-validation-for="Walks" class="text-danger"></span>

                <input type="number" asp-for="RBI" class="form-control">
                <label asp-for="RBI" class="control-label"></label>
                <span asp-validation-for="RBI" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="submitStatEdit" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
</form>