@model WMBA5.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Home Team</label>
                @Html.DropDownList("SelectedHomeTeam", (SelectList)ViewBag.Teams, "Select a Home Team", new { @class = "form-control", @style = "margin-top: 0.5rem;" })
            </div>
            <div class="form-group">
                <label class="control-label">Away Team</label>
                @Html.DropDownList("SelectedAwayTeam", (SelectList)ViewBag.Teams, "Select an Away Team", new { @class = "form-control", @style = "margin-top: 0.5rem;" })
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
            </div> *@
            @*    <div class="form-group">
            <label asp-for="Oponent" class="control-label"></label>
            <input asp-for="Oponent" class="form-control" />
            <span asp-validation-for="Oponent" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="PlayingAt" class="control-label"></label>
            <input asp-for="PlayingAt" class="form-control" />
            <span asp-validation-for="PlayingAt" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Outcome" class="control-label"></label>
                <select asp-for="Outcome" class="form-control"><option value="Yet to be decided">Yet to be decided</option><option value="Win">Win</option><option value="Lose">Lose</option></select>
            </div>
            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <select asp-for="DivisionID" class="form-control" asp-items="ViewBag.DivisionID"></select>
                <span asp-validation-for="DivisionID" class="text-danger"></span>
            </div>
            @*   <div class="form-group">
            <label asp-for="LineupID" class="control-label"></label>
            <input asp-for="LineupID" class="form-control" />
            <span asp-validation-for="LineupID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

