@model WMBA5.Models.Game

@{
    ViewData["Title"] = "Record Game";
}
@* <partial name="_ViewHeading" /> *@
<h2>@Html.DisplayFor(model => model.HomeTeam.TeamName) vs @Html.DisplayFor(model => model.AwayTeam.TeamName)</h2>
<hr />
<form asp-action="InGameStatsRecord">    
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <button id="btnHit" name="btnHit">Hit</button>
                                    <br />
                                    <label id="lblBall" for="btnBall">Balls: </label>
                                    <br />
                                    <button id="btnBall" name="btnBall">+</button>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="single">Single</option>
                                        <option value="double">Double</option>
                                        <option value="triple">Triple</option>
                                        <option value="homeRun">HomeRun</option>
                                    </select>
                                </td>
                                <td>
                                    <label id="lblStrike" for="btnStrike">Strikes: </label>
                                    <br />
                                    <button id="btnStrike" name="btnStrike">+</button>
                                    <br />
                                    <label id="lblOut" for="btnOut">Outs: </label>
                                    <br />
                                    <button id="btnOut" name="btnOut">+</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="btnSave" name="btnSave">Save</button>
                    <br />
                    <button id="btnCancel" name="btnCancel">Cancel</button>
                </td>
                <td>
                    <div>
                        <label id="lblPlayer" for="pPlayer" class="fw-bold">Players</label>
                        <br />
                        <select Name="players" Size="10">
                            @foreach (var item in Model.GamePlayers
                            .Where(gp => gp.TeamLineup == TeamLineup.Home)
                            .OrderBy(o => o.Player.LastName))
                            {
                                <option>@item.Player.FullName</option>
                                <br />
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <label id="lblIning" for="pIning" class="fw-bold">Inings</label>
                        <br />
                        <select Name="innings" Size="9">
                            <option> Inning 1 </option>
                            <option> Inning 2 </option>
                            <option> Inning 3 </option>
                            <option> Inning 4 </option>
                            <option> Inning 5 </option>
                            <option> Inning 6 </option>
                            <option> Inning 7 </option>
                            <option> Inning 8 </option>
                            <option> Inning 9 </option>
                        </select>
                        <br />
                        <label id="lblTotal">Total:</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>